.image-upload-box {
    width: 200px;
    height: 200px;
    border: 2px dashed #cfcfcf;
    border-radius: 22px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    color: #555;
    margin: 50px;
    transition: border-color 0.2s ease;
}

.image-upload-box:hover {
    border-color: #000;
}

.image-upload-box p {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.upload-icon {
    font-size: 48px;
    margin-bottom: 6px;
    color: #777;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.btn-dark {
    font-size: 20px;
    border-radius: 10px;
    padding: 14px 20px;
}

h4 {
    font-size: 28px;
}

.row {
    padding: 22px;
}

.form-label {
    font-size: 18px;
    font-weight: 500;
}

.form-control,
.form-select {
    font-size: 18px;
    padding: 14px 12px;
    border-radius: 8px;
}

.row.mb-3,
.row.mb-4 {
    margin-bottom: 28px;
}

@media (max-width: 768px) {
    .image-upload-box {
        width: 150px;
        height: 150px;
        border-radius: 16px;
        margin: 0;
    }

    .image-upload-box p {
        font-size: 13px;
        margin-top: 0px;
    }

    .upload-icon {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .row {
        padding: 0;
    }

    .preview-image {
        border-radius: 14px;
    }

    .btn-dark {
        font-size: 16px;
        padding: 6px 16px;
    }

    h4 {
        font-size: 18px;
    }

    .form-label {
        font-size: 14px;
        margin-top: 18px;
    }

    .form-control,
    .form-select {
        font-size: 14px;
        padding: 8px 10px;
    }
}
