.image-upload-box {
    width: 180px;
    height: 180px;
    border: 2px dashed #cfcfcf;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    color: #555;
    transition: border-color 0.2s ease;
}
  
.image-upload-box p {
    margin: 0;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.image-upload-box:hover {
    border-color: #000;
}
  
.upload-icon {
    font-size: 32px;
    margin-bottom: 4px;
    color: #777;
}
  
.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}  

.btn-dark {
    font-size: 16px;
    border-radius: 6px;
    padding: 8px 12px
}