.app-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 14px;
  overflow: hidden;
  background-color: #fff;
}
  
  .main-content {
    flex: 1;
    background-color: #fff;
    justify-content: center;
    padding: 30px;
    overflow-y: auto;

  }
  
  .main-content app-food-table {
    background-color: red;
  }
  
  table th, table td {
    text-align: left;
}
  