.app-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #a5a5a5;
    border-radius: 14px;
    overflow: hidden;
    background-color: #fff;
}

.main-content {
    flex: 1;
    background-color: #fff;
    justify-content: center;
    padding: 30px;
    overflow: visible; /* changed from hidden to visible */
}

table th,
table td {
    text-align: left;
}
