.app-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #a5a5a5;
    border-radius: 18px;
    overflow: hidden;
    background-color: #fff;
}

.main-content {
    flex: 1;
    background-color: #fff;
    padding: 32px;
    overflow-y: auto;
}

table th,
table td {
    text-align: left;
    font-size: 17px;
}

h4 {
    font-size: 24px;
}

@media (max-width: 768px) {
    .app-container {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
        max-width: none;
        border: none;
        border-radius: 0;
    }

    .main-content {
        padding: 16px;
    }
}
