.bi-chevron-left:hover {
  color: #000;
}

  .image-upload-box {
    width: 180px;
    height: 180px;
    border: 2px solid #d3d3d3;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    color: #555;
}
  
  .image-upload-box p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  
  .upload-icon {
    font-size: 30px;
    margin-top: 6px;
    color: #666;
  }
  
  .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
  }

  
