.sidebar {
    width: 180px;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    height: 100%;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #000;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s, transform 0.2s;
  }

  .sidebar button.active {
    background-color: #ececec;
  }
  
  
  .sidebar button:hover {
    background-color: #e0f0ff;
    color: #000;
  }
  