.sidebar {
    width: 180px;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  
  .sidebar button {
    background: none;
    border: none;
    color: #000;
    text-align: left;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .sidebar button:hover {
    background-color: #e0f0ff;
    color: #000;
  }
  