.table {
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 26px 32px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.table th {
    font-weight: 600;
    font-size: 20px;
}

.table td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.table th:last-child {
    text-align: center;
}

.bi-pencil {
    font-size: 22px;
}

.bi-pencil:hover {
    color: #000;
}

.table tbody tr td, thead tr th {
    border-bottom: none;
}

.btn-custom {
    background-color: #e0e0e0;
    color: #000;
    padding: 8px 10px;
    font-size: 12px;
    transition: background-color 0.3s;
    border: none;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: #cfcfcf;
}

.form-check-input {
    border: 1px solid #495057;
}

.btn-dark {
    font-size: 12px;
    background-color: #000;
    color: #f1f1f1;
    padding: 6px 12px;
    border-radius: 8px;
}

h4 {
    font-size: 26px;
}

@media (max-width: 768px) {
    h4 {
        font-size: 18px;
    }

    .table thead {
        display: none;
    }

    .bi-pencil {
        font-size: 16px;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
    }

    .table td {
        padding: 6px 10px;
        text-align: left;
        border: none;
        position: relative;
        font-size: 14px;
    }

    .table td::before {
        content: attr(data-label);
        font-weight: 600;
        display: inline-block;
        width: 100px;
    }

    .table td:last-child {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }

    .btn-custom {
        font-size: 14px;
        padding: 8px 14px;
    }


      

      
        
}
