.table {
    border-radius: 8px;
    overflow: hidden;
}

.table td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.table th, .table td {
    padding: 12px 15px;
    vertical-align: middle;
}

.table th:last-child {
    text-align: center;
}

.table th {
    font-weight: 600;
}

.bi-pencil:hover {
    color: #000;
}

.btn-custom {
    background-color: #e0e0e0;
    color: #000;
    padding: 8px 12px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #cfcfcf;
}
